:root {
  --font-family-base: 'Roboto', sans-serif;

  --font-size-small: 14px;
  --font-size-base: 16px;
  --font-size-large: 18px;
  --font-size-xlarge: 20px;
  --font-size-xxlarge: 22px;
  --font-size-xxxlarge: 24px;

  --font-weight-base: 400;
  --font-weight-bold: 700;

  --icon-size-small: calc(var(--font-size-small) * 1.4);
  --icon-size-base: calc(var(--font-size-base) * 1.5);
  --icon-size-large: calc(var(--font-size-large) * 1.5);
}
